* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --gray: #e0dee2;
  --lightred: #dd7a6f;
  --lightbrown: #a88b73;
  --brownpurple: #6d5459;
  --teal: #39a6a8;
}

body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0px;
  color: #222;
  text-align: center;
  font-size: 20px;
  min-height: 100vh;
  /* border: 1px solid black; */
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  /* background: lightgoldenrodyellow; */
  width: 100%;
  max-width: 80%;
  /* max-width: 1600px; */
  height: fit-content;
  border: 1px solid black;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0rem 0.5rem;
  border-bottom: 1px solid #c5c5c5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: row;
  font-family: "Fraunces", sans-serif;

  width: 80%;
  max-width: 1600px;
}

.nav-logo {
  border: 3px solid #222;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.nav-logo img {
  height: 40px;
  width: 40px;
}

.nav-logo:hover {
  transform: scale(1.05);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 80px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

nav li a:hover {
  color: var(--lightred);
}

.nav-buttons {
  display: flex;
  gap: 0.6rem;
}

.btn {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.btn-primary {
  background-color: var(--teal);
  color: #fff;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: var(--lightred);
}

.btn-secondary {
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 0px;
  border-right: 1px solid #c5c5c5;
}

.btn-secondary:hover {
  color: var(--lightred);
}

/* Mobile Navbar */
#mobile-navbar {
  display: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  nav {
    width: 95%;
  }

  .nav-links {
    gap: 40px;
  }
}

@media (max-width: 992px) {
  #navbar {
    display: none !important;
  }

  /* Mobile Navbar */
  #mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    height: 100px;
    max-width: 1000px;
    padding-bottom: 25px;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
  }

  .mobile-navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
  }

  .nav-logo {
    position: absolute;
    text-align: center;
    left: 50%;
  }

  .nav-logo img {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-btn img {
    padding-top: 10px;
  }

  .menu-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav-buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Menu Overlay */
#overlay {
  display: none;
}

#overlay.active {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.45);
  z-index: 1999 !important;
  transition: opacity 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

/* Sign Up form */
#modal-signin {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100% !important;
  background-color: rgba(65, 66, 66, 0.45);
  z-index: 2002 !important;
  opacity: 0; /* start with 0 opacity */
  transition: opacity 0.3s, visibility 0.3s ease;
  visibility: hidden;
}

#modal-signin.show {
  visibility: visible; /* fades in */
  opacity: 1; /* show when active */
}

#modal-signin .overlay-content {
  z-index: 2003 !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: fit-content;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  border-radius: 15px;
  width: 100%;
}

#modal-signin .overlay-content .close-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  background: none;
  font-size: 30px;
  color: #3b3b3b;
  border: none;
  cursor: pointer;
  padding: 2px 8px;
  transition: background-color all 0.4s ease;
}

#modal-signin .overlay-content .close-icon:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

.overlay-content .upper-section {
  padding: 32px 24px 24px;
}

#modal-signin .overlay-content h2 {
  font-family: "Inter", sans-serif;
  line-height: 1.1rem;
  font-size: 30px;
  font-variation-settings: "wght" 900;
  letter-spacing: -0.045em;
  padding-bottom: 25px !important;
}

#modal-signin .overlay-content .overlay-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #7d7c83;
  line-height: 1.4em;
  font-variation-settings: "wght" 400;
  margin-bottom: 5px;
}

#modal-signin .overlay-content .lower-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding: 5px 24px 24px;
}

#modal-signin .overlay-content .lower-section .auth-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-style: normal;
  background-color: #f2f2f3;
  color: #000000;
  font-weight: bold;
  font-variation-settings: "wght" 600;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  margin-bottom: 7px;
  position: relative;
}

.google-button,
.apple-button {
  justify-content: center;
}

.auth-button img {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
}

#modal-signin .overlay-content .lower-section .auth-button:hover {
  background-color: #e9e9e9;
}

#modal-signin .overlay-content .lower-section .email-button {
  text-align: center !important;
  margin: 0 auto;
  background-color: #0066ff;
  color: #ffffff;
}

#modal-signin .overlay-content .lower-section .email-button:hover {
  background-color: #015ad6;
}

#modal-signin .overlay-content .lower-section .small-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #7d7c83;
  line-height: 1.6em;
  margin-top: 20px;
  font-variation-settings: "wght" 400;
}

#modal-signin .overlay-content .lower-section .small-text a {
  color: #000000;
  font-weight: 800;
}

#modal-signin .overlay-content .lower-section .small-text a:hover {
  color: #0066ff;
}

/* Sign Up Modal */
#modal-signup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100% !important;
  background-color: rgba(65, 66, 66, 0.45);
  z-index: 2002 !important;
  opacity: 0; /* start with 0 opacity */
  transition: opacity 0.3s, visibility 0.3s ease;
  visibility: hidden;
}

#modal-signup.show {
  visibility: visible; /* fades in */
  opacity: 1;
  /* show when active */
}

#modal-signup .overlay-content {
  z-index: 2003 !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  border-radius: 15px;
  max-width: 400px;
  width: 95%; /* sets default width percentage*/
}

#modal-signup .overlay-content .close-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  background: none;
  font-size: 30px;
  color: #3b3b3b;
  border: none;
  cursor: pointer;
  padding: 2px 8px;
  transition: background-color all 0.4s ease;
}

#modal-signup .overlay-content .close-icon:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

.overlay-content .upper-section {
  padding: 32px 24px 24px;
}

#modal-signup .overlay-content h2 {
  font-family: "Inter", sans-serif;
  line-height: 1.1rem;
  font-size: 30px;
  font-variation-settings: "wght" 900;
  letter-spacing: -0.045em;
  padding-bottom: 25px !important;
}

#modal-signup .overlay-content .overlay-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #7d7c83;
  line-height: 1.4em;
  font-variation-settings: "wght" 400;
  margin-bottom: 5px;
}

#modal-signup .overlay-content .lower-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding: 5px 24px 24px;
  width: 100%; /* takes full width of parent */
}

#modal-signup .overlay-content .lower-section .auth-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-style: normal;
  background-color: #f2f2f3;
  color: #000000;
  font-weight: bold;
  font-variation-settings: "wght" 600;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  margin-bottom: 7px;
  position: relative;
}

.google-button,
.apple-button {
  justify-content: center;
}

.auth-button img {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
}

#modal-signup .overlay-content .lower-section .auth-button:hover {
  background-color: #e9e9e9;
}

#modal-signup .overlay-content .lower-section .email-button {
  text-align: center !important;
  margin: 0 auto;
  background-color: #0066ff;
  color: #ffffff;
}

#modal-signup .overlay-content .lower-section .email-button:hover {
  background-color: #015ad6;
}

#modal-signup .overlay-content .lower-section .small-text {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: #7d7c83;

  margin-top: 10px;
  font-variation-settings: "wght" 400;
}

#modal-signin .overlay-content .lower-section .small-text label {
  display: inline-flex;
  align-items: flex-start;
}

#modal-signup
  .overlay-content
  .lower-section
  .small-text
  input[type="checkbox"] {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin: 0;
  margin-right: 5px !important; /* gives some space to the right */
  vertical-align: middle; /* aligns the text vertically in the middle */
}

#modal-signin .overlay-content .lower-section .small-text span {
  /* Add proper spacing between words */
  display: inline;
  word-spacing: normal;
  white-space: normal; /* Allow natural text wrapping */
  vertical-align: middle;
}

#modal-signup .overlay-content .lower-section .small-text a {
  color: #000000;
  font-weight: 800;
  text-decoration: underline;
}

#modal-signup .overlay-content .lower-section .small-text a:hover {
  color: #0066ff;
}

#modal-signup .overlay-content .separator {
  width: 80%;
  height: 1px;
  background-color: #e4e4e4;
  margin: 5px 0;
}

#modal-signup .login-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0px 20px;
  width: 80%;
  text-align: left;
}

#modal-signup .overlay-content .login-section p {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #000;
  line-height: 1.2em;
  font-variation-settings: "wght" 600;
  text-align: left !important;
  display: inline-block;
  display: flex;
  align-items: left;
  margin-top: 10px;
}

#modal-signup .login-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
}

#modal-signup .logo-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 10px;
  margin-top: 15px;
  cursor: pointer;
}

#modal-signup .logo-login-btn .logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-signup .logo-login-btn .logo-box div {
  padding: 10px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

#modal-signup .logo-login-btn .logo-box div:hover {
  background-color: #ebebeb;
}

#modal-signup .logo-login-btn .logo-box img {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-signup .logo-login-btn .logo-box p {
  font-family: "Arial", sans-serif;
  font-size: 10px;
  color: #b3b2b2;
  line-height: 1.2em;
  font-variation-settings: "wght" 400;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

/* media queries  */
@media screen and (max-width: 670px) {
  #modal-signup .overlay-content {
    width: 100%; /* Take up 90% of viewport width */
    margin: 0 auto;
  }
  #modal-signup .overlay-content .lower-section .auth-button {
    width: 100%;
  }

  #modal-signup .overlay-content .lower-section .small-text {
    width: 100%;
    gap: 4px;
  }
}

@media screen and (max-width: 380px) {
  #modal-signup .login-container {
    text-align: center;
  }

  #modal-signup .logo-login-btn .logo-box div {
    padding: 8px 14px !important;
  }
  #modal-signup .logo-login-btn .logo-box p {
    display: none;
  }
  #modal-signup .logo-login-btn .logo-box img {
    width: 20px !important;
    height: 20px !important;
  }
}

/* Aside menu */
#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #222;
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2000 !important;
}

#sidebar.show-sidebar {
  left: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 30px;
  align-items: start;
  position: relative;

  margin: 0;
  padding: 0;
}

.sidebar-container .close-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #222;
}
.sidebar-container nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}

.sidebar-container .sidebar-nav-logo {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-nav-logo img {
  width: 30px;
  height: 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.sidebar-nav-logo img:hover {
  transform: scale(1.1);
}

.sidebar-container ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  align-items: start;
}

.sidebar-nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 100%;
  padding-left: 20px;
  border-top: 1px solid #d3d3d3;
  padding-top: 30px;
}

.sidebar-nav-buttons .btn-secondary-side-bar,
.sidebar-nav-buttons .btn-primary-side-bar {
  width: 75% !important;
  display: block;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 15px 25px;
  transition: background-color 0.3s ease;
}

.btn-secondary-side-bar {
  color: #222;
}

.btn-secondary-side-bar:hover {
  color: var(--lightred);
}

.btn-primary-side-bar {
  background-color: var(--teal);
  color: white;
}

.btn-primary-side-bar:hover {
  background-color: var(--lightred);
}

.sidebar-nav-buttons .btn-secondary-side-bar,
.sidebar-nav-buttons .btn-primary-side-bar li {
  list-style: none;
}

.sidebar-nav-buttons .btn-primary-side-bar li a:link,
.sidebar-nav-buttons .btn-secondary-side-bar li a:visited,
.sidebar-nav-buttons .btn-primary-side-bar li a:visited {
  color: white;
}

.sidebar-nav-buttons .btn-secondary-side-bar li a:visited {
  color: #222;
}

.sidebar-nav-buttons .btn-secondary-side-bar li a:hover {
  color: var(--lightred);
  transition: 0.1s ease-in;
}

/* Hero section */
.hero {
  margin: 350px auto 0;
  width: 100%;
  height: 0; /* */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/osaka-hero4.svg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-text {
  position: absolute;
  top: -20%; /* Adjust this value to move the text up or down */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.hero .hero-heading {
  font-size: 12vw; /* Adjusted for better scaling */
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 2vh; /* Use viewport height for consistent spacing */
}

.hero h3 {
  font-size: 2.5vw; /* Adjusted for better scaling */
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 40s infinite;
  animation-delay: 2.4s; /* matches when h1 animation finishes*/
  animation-timing-function: ease-out; /* object starts quickly and ends slowly*/
}

.hero h3 span {
  color: var(--teal);
}

@keyframes fadeUp {
  /* From 0s to 0.6s (1% of 60s) */
  0%,
  1% {
    opacity: 0;
    transform: translateY(20px);
  }
  /* At 1.2s (2% of 60s) */
  2% {
    opacity: 1;
    transform: translateY(0);
  }
  /* From 1.8s (3%) until 60s (100%) */
  3%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries for fine-tuning */
@media (max-width: 1200px) {
  .hero-text {
    top: -22%; /* Slight adjustment for medium screens */
  }

  .hero .hero-heading {
    font-size: 13vw;
  }

  .hero h3 {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .hero-text {
    top: -35%; /* Adjustment for smaller screens */
  }

  .hero .hero-heading {
    font-size: 15vw;
  }

  .hero h3 {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px) {
  .hero-text {
    top: -42%; /* Further adjustment for mobile screens */
  }

  .hero .hero-heading {
    font-size: 15vw;
  }

  .hero h3 {
    font-size: 4vw;
  }
}

/* Bouncy Text Example */
.bouncy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.bouncy-text span {
  display: inline-block;
  animation: bounceIn 40s infinite;
}

/* Add delay for each span */
.bouncy-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.bouncy-text span:nth-child(2) {
  animation-delay: 0.25s;
}
.bouncy-text span:nth-child(3) {
  animation-delay: 0.35s;
}
.bouncy-text span:nth-child(4) {
  animation-delay: 0.45s;
}
.bouncy-text span:nth-child(5) {
  animation-delay: 0.55s;
}
.bouncy-text span:nth-child(6) {
  animation-delay: 0.65s;
}

@keyframes bounceIn {
  /* Initial position and very start (0 - 0.9 seconds) */
  0%,
  1.5% {
    transform: translateY(-50px);
    opacity: 0;
  }
  /* At 1.2 seconds */
  2.5% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  /* At 2.1s (3.5% of 60s) */
  3.5% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
  /* At 2.4s (4%) and remaining ~57.6s */
  4%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Description */
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px auto 80px;
  gap: 60px;
  width: 90%;
  max-width: 1600px;
  padding: 0 20px;
  font-family: "Fraunces", serif;
  text-align: center;
}

.description-image {
  flex: 1;
  max-width: 50%; /* Adjust this value to control the width of the image */
}

.description-image .image-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  display: block;
}

.description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  max-width: 50%;
  text-align: left;
  padding-left: 30px;
}

.description-content h2 {
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.description-content h3 {
  margin-bottom: 10px;
}

.description-content p {
  margin-bottom: 12px;
}

.description-content ul {
  padding-left: 0;
  margin: 0;
}

.description-content ul > li {
  list-style: none;
  display: flex;
  align-items: center; /* vertical alignment */
  margin-bottom: 12px;
}
.description-content ul li > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.description-content ul li > img:hover {
  transform: scale(1.1);
  cursor: pointer;
  object-fit: contain;
}

.description-content ul li span {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: inherit;
  text-underline-offset: 8px;
  font-weight: bold;
  margin-right: 5px;
  color: var(--teal);
}

.description-content ul li > img {
  animation: tilt 5s infinite cubic-bezier(0.45, 0, 0.55, 1);
  display: inline-block;
  /* sets point of rotation, horizontal and vertical*/
  transform-origin: center bottom;
}

/* a tilting animation */
@keyframes tilt {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.description-content p:last-child {
  font-size: 22px;
}

/* Media Queries for fine-tuning */
@media (max-width: 1024px) {
  .description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    max-width: 1600px;
    text-align: center;
  }

  .description-image image-1 {
    max-width: 85%;
    padding: 0 20px;
  }

  .description-content {
    max-width: 100%;
    padding: 0 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .description-content h2 {
    font-size: 50px;
  }
  .description-content h3 {
    margin-bottom: 12px;
  }
  .description-content p {
    font-size: 18px;
  }
  .description-content ul li {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
}

/* Wave divider */
.wave-container {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.wave-line {
  width: 800px;
  height: 40px;
  overflow: hidden;
}

.wave-path.wave-2 {
  stroke: var(--teal);
  animation: moveWave 2s linear infinite;
  animation-direction: reverse;
}

.wave-path {
  stroke: #dd7a6f;
  stroke-width: 3;
  fill: none;
  animation: moveWave 2s linear infinite;
}

@keyframes moveWave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}

@media (max-width: 820px) {
  .wave-container {
    width: 85%;
  }
}

/* Featured Cards */
.featured-cards {
  margin: 0 auto;
  padding: 100px 20px;
  font-family: "Fraunces", serif;
  font-size: 40px;
  /* background: lightgoldenrodyellow; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding-bottom: 30px;
}

.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  /* overflow: hidden; */
}

.card {
  border: 1px solid black;
  width: 300px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 3px 3px 1px black;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  box-shadow: 7px 6px 1px var(--teal);
  border-radius: 12px;
}

.card:hover .card-bg {
  transform: scale(1.2) rotate(3deg);
}

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  z-index: 1;
}

.card-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("./images/osaka-castle2.png");
}

.card-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("./images/takoyaki-2.png");
}

.card-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("./images/namba-2.png");
}

.card h4 {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  z-index: 2;
}

.card-details {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /**/
  gap: 10px;
  text-align: left;
  justify-content: center;
  background-color: #fff;
  transform: translateY(-102%); /* hide initially */
  transition: transform 0.5s ease;
  z-index: 2;
}

.card.expanded .card-details {
  transform: translateY(0); /* show card. Slides down.*/
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto; /**/
  min-height: 50%; /**/
  padding: 20px;
  padding-top: 30px;
}

.details-content .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Fraunces", sans-serif;
  color: #222;
}

.card-details .details-content .card-description {
  font-size: 15px !important;
  line-height: 1.4;
}

.card-image {
  height: 50%;
  object-fit: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-container {
  position: absolute; /* positoned relative to the card div*/
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 10; /* stays above all other card elements*/
}

.material-symbols-outlined {
  position: absolute; /* both icons positioned absolutely within the icon container*/
  top: 0;
  left: 0;
  width: 100%; /* takes up 100% width of the icon container*/
  height: 100%; /* takes up 100% height of the icon container*/
  /* both icons are stacked on top of each other taking up 100% width and height of the icon container*/
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: var(--brownpurple);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.material-symbols-outlined:hover {
  background-color: var(--teal) !important;
  border-color: var(--teal) !important;
}

.material-symbols-outlined.arrow {
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  pointer-events: auto; /* the arrow icon can be clicked */
}

.material-symbols-outlined.close {
  opacity: 0;
  transform: rotate(-180deg);
  pointer-events: none; /* when close icon is not visible cant be clicked */
}

.card.expanded .material-symbols-outlined.arrow {
  opacity: 0;
  transform: rotate(180deg);
}

.card.expanded .material-symbols-outlined.close {
  opacity: 1;
  transform: rotate(0deg);
  pointer-events: auto; /* when close icon is visible can be clicked */
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .featured-cards {
    padding: 120px 0px !important;
  }

  h2 {
    font-size: 40px;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
  }
  .card {
    width: 90%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
  }

  .details-content .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-details .details-content .card-description {
    font-size: 18px !important;
    line-height: 1.3;
    overflow: hidden;
  }

  .card-details .card-image img {
    width: 100%;
    height: 100%;
    object-fit: stretch;
    object-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 480px) {
  .featured-cards {
    padding: 30px 10px;
  }

  h2 {
    font-size: 32px;
  }

  .card-details .details-content {
    padding: 20px;
    height: 100%;
  }
  .details-content .card-title {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .card-details .details-content .card-description {
    font-size: 15px !important;
    line-height: 1.3;
    overflow: hidden;
  }

  .card-details .details-content .card-image {
    max-height: 150px; /* Smaller minimum height for mobile */
  }
}

@media (max-width: 350px) {
  .featured-cards {
    padding: 60px 0px !important;
  }

  .card-details {
    gap: 5px !important;
  }

  .card-details .details-content {
    padding-top: 30px;
    padding-bottom: 10px !important;
  }
  .card-details .details-content .card-title {
    font-size: 18px !important;
  }

  .card-details .details-content p.card-description {
    text-overflow: ellipsis !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* Show only 6 lines */
    line-height: 1.3;
    overflow: hidden; /* Hide any overflow */
  }

  .card-details .details-content .card-image {
    height: auto; /* Smaller minimum height for mobile */
  }
}

/* Guide */
.guide {
  margin: auto;
  font-family: "Fraunces", serif;
  font-size: 30px;
  background-color: lightcyan;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 30px 0px 50px;
  border-radius: 15px;
  align-items: center;
}

.guide-container {
  display: flex;
  max-width: 1200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.guide-image {
  background-image: url("./images/shinji-kun.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 400px; /* explicity setting height shows the image*/
}

.guide-text {
  padding: 40px 40px 0px 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
}

.text p {
  margin: 30px 0px;
  font-size: 22px;
  color: #222;
}

.email {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  display: flex;
  /* position: relative; */
}

input {
  flex: 1; /* allows input to grow and take up available space */
  max-width: 500px; /**/
  height: 60px;
  font-size: 18px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding-left: 13px;
  display: inline-block;
}

input:focus {
  outline: none;
  border: 0.5px solid var(--teal);
}

#subsribe {
  flex: 0 0 auto; /* wont grow and shrink and default basis size  will be auto  */
  min-width: 140px; /**/
  height: 60px;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.5px solid var(--teal);
  background-color: var(--teal);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

#subsribe:hover {
  background-color: var(--lightred);
  border: 0.5px solid var(--lightred);
}

@media (max-width: 899px) {
  .guide {
    flex-direction: column;
    padding: 60px 0;
  }
  .guide-container {
    display: flex;
    flex-direction: column;
  }

  .guide-image {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
  }
  .guide-text {
    padding: 20px 0px;
    width: 85%;
  }
  .text p {
    font-size: 20px;
  }
  .text h3 {
    text-align: center;
  }
  .email {
    flex-direction: column;
    /* ensures full width to the children */
  }
  .email input,
  #subsribe {
    max-width: 98%; /* stretches input and button to just under full width */
    margin-bottom: 10px;
    height: 50px !important;
    border-radius: 3px;
  }
  input {
    height: 50px !important;
    padding: 15px 0px 15px 10px; /**/
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  .email input::placeholder {
    text-align: center;
  }
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  color: #111;
  font-family: "Fraunces", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 0px;
  list-style-type: none;
  position: relative;
  background-color: rgb(255, 255, 232);
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.footer-image {
  width: 100%;
  height: 100px;
  padding-top: 56%;
  /* 16:9 aspect ratio */
  background-image: url("./images/footer-bg4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 60px 20px 30px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0px 80px;
  z-index: 2;
  width: 100%;
  align-items: center;
}

.footer-links {
  list-style: none;
}

.footer-links ul {
  list-style: none;
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Fraunces", sans-serif;
}

.footer-links ul li {
  font-weight: bold;
}

.footer-links ul li a {
  color: #222;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.footer-links ul li a:hover {
  color: var(--lightred);
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  align-items: center;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.footer-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-icons img:hover {
  transform: scale(1.1);
  color: var(--lightred);
}

@media (max-width: 899px) {
  .footer-upper {
    flex-direction: column;
    gap: 40px;
    padding: 0px 40px !important;
  }

  .footer-links ul {
    text-align: center;
    font-size: 16px;
  }

  .footer-links ul li {
    text-align: center;
    font-size: 16px;
  }
}
